.container{
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/wepik-export-2024010311121128lT.png') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Ensure the background is behind the content */
    opacity: 0.8;
  }