/* Default styles for larger screens */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 6, 6);
  max-height: 70px;
  height: 8%;
  padding-top: 6px;
}

.logo {
  height: 100%;
  max-height: 70px;
  background-color: #ffffff;
}

.logo img {
  height: 60%;
  width: 100%;
  max-width: 400px;
  margin-left: 2%;
  margin-top: 1%;
}

.nav-links {
  height: 50px;
  width: 40%;
  display: flex;
  justify-content: end;
  gap: 10%;
  align-items: center;
  margin-right: 4%;
}

.nav-links a {
  color: #0a0000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Noto Sans";
  font-size: 18px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #008080 !important;
  cursor: pointer;
}

.btn_logout {
  /* background-color: teal;
  border: none;
  width: 30%;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  cursor: pointer; */


  background: teal;
  border: 1px solid #006d1f;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  max-height: 40px;
  height: 100%;
  width: 100%;
  max-width: 150px;
  min-width: 20px;
  outline: 0;
  /* padding: 12px 14px; */
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn_logout:hover,
.btn_logout:active {
  background-color: initial;
  background-position: 0 0;
  color: teal;
}

.btn_logout:active {
  opacity: .5;
}

/* .btn_logout:hover {
  background-color: #0a0000;
} */

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {

  .burger-icon-container{
    margin-right: 3%;
  }
  
  .logo {
    height: 100%;
    max-height: 70px;
    background-color: #ffffff;
  }
  
  .logo img {
    height: 60%;
    width: 100%;
    max-width: 400px;
    margin-left: 2%;
    margin-top: 1%;
  }

  .nav-links {
    margin-left: 2%;
    display: flex; /* Initially hide the links on small screens */
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
  }

  .nav-links a {
    margin-bottom: 2px;
    font-weight: 500;
  }

  .btn_logout{
    width: 50%;
    max-width: 100px;
  }

  .burger-icon {
    display: block; /* Show the burger icon on small screens */
    cursor: pointer;
  }
}

/* Additional media query to hide burger icon on larger screens */
@media only screen and (min-width: 769px) {
  .burger-icon {
    display: none;
  }
}