.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-main {
  position: relative;
  background: white;
  opacity: 100%;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  text-align: center;
  margin-top: 5%;
  margin-left: 8%;
}

.close-icon{
  display: flex;
  justify-content: end;
}

.close-icon > button{
  outline: none;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.image-container{
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.image-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  font-family: "Noto Sans";
}

.images{
  height: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-bottom: 1%;
  justify-content: space-around;
}

.generated-image{
  height: 250px;
  width: 250px;
}

.context-container{
  max-width: 500px;
  width: 100%;
  margin-left: 1%;
}

textarea{
  width: 99%;
  outline: none;
  height: 80px;
}

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #008080;
}

textarea::-webkit-scrollbar-thumb {
  height: 50%;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #008080;
}

.context{
  margin-top: 20%;
}

.generate-btns{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.context-btn{
  width: fit-content;
  height: fit-content;
}

.context-btn > button{
  background-color: #008080;
  width: 140px;
  height: 30px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  font-family: "Noto Sans";
  border-radius: 6px;
}

.generated-images{
  max-height: 340px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 200px;
  width: 100%;
  margin-left: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.generated-images > img{
  padding: 1%;
}

.generated-images::-webkit-scrollbar {
  width: 8px;
}

.generated-images::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #008080;
}

/* .generated-image{
  padding: 2px;
} */

.generated-image {
  position: relative;
  margin-top: 4%;
}

.image-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Initially hide the buttons */
  transition: opacity 0.3s ease-in-out;
}

.generated-image:hover .image-buttons {
  opacity: 1; /* Show the buttons on hover */
}

.blog-container{
   display: flex;
   height: 50%;
}

.blog{
  width: 100%;
  height: 96%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 8px 10px;
}

.blog::-webkit-scrollbar {
  width: 8px;
}

.blog::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #008080;
}

.btns-container{
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6%;
  margin-top: 35%;
  margin-left: 2%;
}

.edit-btn{
  max-height: 50px;
  height: 40px;
  max-width: 375px;
  width: 100%;
}

.edit-btn > button{
  background-color: #008080;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Sans";
  border-radius: 6px;
}

.image-btn{
  max-height: 50px;
  height: 40px;
  max-width: 375px;
  width: 100%;
  display: none;
}

.image-btn > button{
  background-color: #008080;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Sans";
  border-radius: 6px;
}


.regenerate-btn{
  max-height: 50px;
  height: 40px;
  max-width: 375px;
  width: 100%;
}

.regenerate-btn > button{
  background-color: #008080;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Sans";
  border-radius: 6px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.image-buttons {
  width: 130px;
  height: 130px;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-buttons button {
  margin-top: 20%;
}

.select-btn{
  background-color: #000000;
  width: 60%;
  height: 20%;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Noto Sans";
  border-radius: 6px;
}

.expand-btn{
  background-color: #000000;
  width: 60%;
  height: 20%;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Noto Sans";
  border-radius: 6px;
}

.expanded-image-container > img{
   max-height: 75vh;
   height: 100%;
   width: 100%;
}